<app-header></app-header>

<div class="text">
  <h1>Membres</h1>
</div>
<app-search></app-search>
<div class="tag-list">
  <div class="tag" *ngFor="let role of roles">
    {{ role }}
  </div>
</div>

<div class="content">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <td>{{ member.lastname | uppercase }}</td>
        <td>{{ member.firstname }}</td>
        <td>
          <div class="tag" *ngFor="let role of member.rolesData">
            {{ role.name }}
          </div>
        </td>
        <td class="actions">
          <button class="btn btn-primary" (click)="updateMember(member.id)">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteMember(member.id)">
            <i class="fa-solid fa-circle-xmark" style="color: #ec0914"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
